---
import CookbookLayout from '../layouts/CookbookLayout.astro';
---

<CookbookLayout title="Cookbook" description="Delicious recipes and cooking guides.">
  <h1>Cookbook</h1>
  <p>Welcome to the cookbook section. Find your next favorite meal here!</p>
</CookbookLayout>